tmp/
*.egg*
build/
dist/
*.o
*.lo
*.la
*.cache
*.pyc
__pycache__/
*.bak
*.so
loristrck/*.cpp
.deps
.idea
.mypy_cache/
.mypy*
wheelhouse
site/
src/loriswin/
loris_
*.kate*
test/testout/
test/soundout/
*.csd
