exclude *.cache
recursive-include bin *
prune bin/.mypy_cache

prune docs 

recursive-include src/loris *
prune src/loris/doc
prune src/loris/scripting
prune src/loris/test
prune src/loris/utils

recursive-include loristrck *.py *.pyx *.pxd

recursive-include scripts *
prune scripts/.mypy_cache
